<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shana.androidlesson3_widget">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WidgetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.subpage.ButtonActivity"/>
        <activity android:name=".activities.subpage.EditActivity"/>
        <activity android:name=".activities.subpage.ClockActivity"/>
        <activity android:name=".activities.subpage.ChronometerActivity"/>
        <activity android:name=".activities.subpage.DateTimePickerActivity"/>
        <activity android:name=".activities.subpage.GalleryActivity"/>
        <activity android:name=".activities.subpage.GridActivity"/>
        <activity android:name=".activities.subpage.MiscActivity"/>
        <activity android:name=".activities.subpage.PopupActivity"/>
        <activity android:name=".activities.subpage.ProgressActivity"/>
        <activity android:name=".activities.subpage.SpinnerActivity"/>
        <activity android:name=".activities.subpage.ViewPagerActivity"/>
        <activity android:name=".activities.subpage.HorizontalScrollViewActivity"/>
        <activity android:name=".activities.subpage.VideoActivity"
            android:screenOrientation="landscape"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
